.pswd-gen-form {
  width: 420px;
  background-color: #22577E;
  padding: 2rem;
  color: #ffffff;
}

.checkbox-group span, .form-data span {
  font-size: 1.25rem;
}

.form-header h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}

#button-addon2 {
  border-radius: 0;
  color: white;
}

.generate {
  width: 100%;
  margin: 1rem auto;
  font-size: 1.5rem;
  background-color: #5584AC;
}